/* Front-end styles for my plugin */
/* style.css */
body {
    font-family: 'Roboto', sans-serif;
}

.plugin-title {
    color: #4D6544;
    text-align: center;
    font-weight: 600;
    margin-bottom: 5%;
}

#trail-map-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

#trail-map-controls button {
    background-color: #849452;
    color: #FFFFFF;
    font-size: 17px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

#trail-map-controls button:hover,
#trail-map-controls button:focus {
    background-color: #BD5606;
}

.leaflet-bar a,
.user-location-icon {
    font-family: 'Roboto', sans-serif;
}

.leaflet-control-locate {
    background-color: #ff0000;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.fa-map-marker {
    font-size: 20px;
}

.leaflet-control-locate:hover {
    background-color: #00ff00;
}

.leaflet-control-locate.locate-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 4px;
    color: red;
    cursor: pointer;
}

.leaflet-control-locate.locate-icon.enabled {
    color: green;
}

.leaflet-control-locate.locate-icon i {
    font-size: 20px;
}
.leaflet-touch .leaflet-bar a {
	width: 30px;
	height: 30px;
	line-height: 36px;
}

.locate-icon-red {
    color: red !important;
    font-size: 16px;
}

.locate-icon-green {
    color: green !important;
}

.fa-street-view {
    color: #BD5606;
    font-size: 30px;
}

.location-error-notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
}

.geoloc-explanation {
    font-size: 15px;
    text-align: center;
    color: #4D6544;
    margin-top: 50px;
}

.plugin-section-title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* description front */
.trail-description {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.trail-description h3 {
    margin-top: 0;
    color: #333;
    font-size: 1.5em;
}

.trail-description p {
    margin: 5px 0;
    color: #555;
}

.trail-description p#description {
    font-weight: bold;
    color: #444;
}

.trail-description p#distance,
.trail-description p#difficulty,
.trail-description p#duration,
.trail-description p#precautions {
    font-style: italic;
    color: #666;
}
